.DS_Store
.idea
.python-version
CMakeUserPresets.json
*.pyc
build-cross/
build-cross-pipettes/
stm32-tools/
build-host/
cmake-build-debug/
node_modules
__pycache__
./Pipfile
.vscode/settings.json
ot3_state_manager/.coverage
ot3_state_manager/coverage.xml
ot3_state_manager/dist/
include/common/simulation/ot3_state_manager_messages.hpp
