.DS_Store
.idea
.python-version
CMakeUserPresets.json
*.pyc
build-cross/
build-cross-pipettes/
build-cross-sensor/
stm32-tools/
build-host/
cmake-build-debug/
node_modules
__pycache__
./Pipfile
.vscode/settings.json
state_manager/.coverage
state_manager/coverage.xml
state_manager/dist/
state_manager/poetry.toml
dist/
